@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
body {
  overflow: hidden;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    /* display: flex; */
    place-items: center;
    margin: 0;
  }

  #app {
    /* display: grid; */
    grid-template-columns: 1fr 1fr;
    /* padding: 0 2rem; */
  }
}

/* 整个滚动条 */
::-webkit-scrollbar {
  width: 8px; /* 对于垂直滚动条，设置宽度 */
  height: 8px; /* 对于水平滚动条，设置高度 */
}
 
/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: unset; /* 背景色 */
}
 
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.03); /* 滑块颜色 */
  border: 1px solid rgba(255, 255, 255, 0.2);
}
 
/* 滑块hover效果 */
::-webkit-scrollbar-thumb:hover {
  background: unset; /* 滑块hover颜色 */
}